.pth filter=lfs diff=lfs merge=lfs -text
best_ckpt.pth filter=lfs diff=lfs merge=lfs -text
semantic-segmentation/best_ckpt.pth filter=lfs diff=lfs merge=lfs -text
semantic_segmentation/best_ckpt.pth filter=lfs diff=lfs merge=lfs -text
